/node_modules
node_modules/
/public/hot
/public/build
/public/storage
/public/images
public/images/
public/build/
/public/uploads
public/uploads/
public/build/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.idea/
/.vscode
